#!/bin/bash
export DEBUG="yes"
export PSW="xxxxxxxxx"

# Sample files from
# - Cloudflare (r2.dev)
# - GitHub (githubusercontent.com)
# These files have Randomized Labels, thus data looks messed up.
# Link to dashboard with the original data in README.
export CALENDAR_LINKS='
[
    "https://raw.githubusercontent.com/MarcoDiFrancesco/CalendarAnalyzer/master/sample_ics/Chores.ics",
    "https://raw.githubusercontent.com/MarcoDiFrancesco/CalendarAnalyzer/master/sample_ics/Commute.ics",
    "https://raw.githubusercontent.com/MarcoDiFrancesco/CalendarAnalyzer/master/sample_ics/Eat.ics",
    "https://raw.githubusercontent.com/MarcoDiFrancesco/CalendarAnalyzer/master/sample_ics/Entertainment.ics",
    "https://raw.githubusercontent.com/MarcoDiFrancesco/CalendarAnalyzer/master/sample_ics/Personal%20care.ics",
    "https://raw.githubusercontent.com/MarcoDiFrancesco/CalendarAnalyzer/master/sample_ics/Personal%20development.ics",
    "https://raw.githubusercontent.com/MarcoDiFrancesco/CalendarAnalyzer/master/sample_ics/Spare%20time.ics",
    "https://raw.githubusercontent.com/MarcoDiFrancesco/CalendarAnalyzer/master/sample_ics/Sport.ics",
    "https://raw.githubusercontent.com/MarcoDiFrancesco/CalendarAnalyzer/master/sample_ics/Study.ics"
]
'

export CALENDAR_LINKS='
[
    "https://pub-4aae30c7eea344fba305b7050d211166.r2.dev/Chores.ics",
    "https://pub-4aae30c7eea344fba305b7050d211166.r2.dev/Commute.ics",
    "https://pub-4aae30c7eea344fba305b7050d211166.r2.dev/Eat.ics",
    "https://pub-4aae30c7eea344fba305b7050d211166.r2.dev/Entertainment.ics",
    "https://pub-4aae30c7eea344fba305b7050d211166.r2.dev/Personal%20care.ics",
    "https://pub-4aae30c7eea344fba305b7050d211166.r2.dev/Personal%20development.ics",
    "https://pub-4aae30c7eea344fba305b7050d211166.r2.dev/Spare%20time.ics",
    "https://pub-4aae30c7eea344fba305b7050d211166.r2.dev/Sport.ics",
    "https://pub-4aae30c7eea344fba305b7050d211166.r2.dev/Study.ics"
]
'

# When importing from Google Calendar they should have this format
# export CALENDAR_LINKS='
# [
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics",
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics",
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics",
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics",
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics",
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics",
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics",
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics",
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics",
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics"
# ]
# '
