#!/bin/bash
export DEBUG="yes"
export PSW="xxxxxxxxx"

# Sample files available in Cloudflare (r2.dev).
# Randomized of labels was applied in sample ICS files, thus data looks messed up.
# Original data are shown in the dashboard. Link in the README.
export CALENDAR_LINKS='
[
    "https://pub-4aae30c7eea344fba305b7050d211166.r2.dev/Chores.ics",
    "https://pub-4aae30c7eea344fba305b7050d211166.r2.dev/Commute.ics",
    "https://pub-4aae30c7eea344fba305b7050d211166.r2.dev/Eat.ics",
    "https://pub-4aae30c7eea344fba305b7050d211166.r2.dev/Entertainment.ics",
    "https://pub-4aae30c7eea344fba305b7050d211166.r2.dev/Personal%20care.ics",
    "https://pub-4aae30c7eea344fba305b7050d211166.r2.dev/Personal%20development.ics",
    "https://pub-4aae30c7eea344fba305b7050d211166.r2.dev/Spare%20time.ics",
    "https://pub-4aae30c7eea344fba305b7050d211166.r2.dev/Sport.ics",
    "https://pub-4aae30c7eea344fba305b7050d211166.r2.dev/Study.ics"
]
'

# Importing directly from Google Calendar they should have this format.
# Info on how to get these links: https://github.com/MarcoDiFrancesco/CalendarAnalyzer/wiki/Get-calendar-link
# export CALENDAR_LINKS='
# [
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics",
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics",
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics",
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics",
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics",
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics",
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics",
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics",
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics",
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics"
# ]
# '
