#!/bin/bash
export DEBUG="yes"
export PSW="xxxxxxxxx"

# When importing from Google Calendar they should have this format
# export CALENDAR_LINKS='
# [
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics",
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics",
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics",
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics",
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics",
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics",
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics",
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics",
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics",
#     "https://calendar.google.com/calendar/ical/xxxxxxxxxxxxxxxxxxxxxxxxxx%40group.calendar.google.com/private-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/basic.ics"
# ]
# '

# Sample files from GitHub
export CALENDAR_LINKS='
[
    "https://raw.githubusercontent.com/MarcoDiFrancesco/CalendarAnalyzer/master/sample_ics/Chores.ics",
    "https://raw.githubusercontent.com/MarcoDiFrancesco/CalendarAnalyzer/master/sample_ics/Commute.ics",
    "https://raw.githubusercontent.com/MarcoDiFrancesco/CalendarAnalyzer/master/sample_ics/Eat.ics",
    "https://raw.githubusercontent.com/MarcoDiFrancesco/CalendarAnalyzer/master/sample_ics/Entertainment.ics",
    "https://raw.githubusercontent.com/MarcoDiFrancesco/CalendarAnalyzer/master/sample_ics/Personal%20care.ics",
    "https://raw.githubusercontent.com/MarcoDiFrancesco/CalendarAnalyzer/master/sample_ics/Personal%20development.ics",
    "https://raw.githubusercontent.com/MarcoDiFrancesco/CalendarAnalyzer/master/sample_ics/Spare%20time.ics",
    "https://raw.githubusercontent.com/MarcoDiFrancesco/CalendarAnalyzer/master/sample_ics/Sport.ics",
    "https://raw.githubusercontent.com/MarcoDiFrancesco/CalendarAnalyzer/master/sample_ics/Study.ics"
]
'
